# Ignore compiled binaries
sat_solver.exe
*.exe
*.out
*.exe.stackdump

# Object files
*.o
*.obj

# Build directories
build/
cmake-build-debug/

# Visual Studio / Visual C++
*.vcxproj*
*.sln
.vscode/

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*~

# Logs
*.log

# Mac/OSX
.DS_Store

# MinGW / MSYS2
*.dll


# JetBrains
.idea/
